Repository Say-Better/Service-Server, pull requests merged in 2024-06, with the labels that each got.

#88 [Feature/86] 소셜 로그인 로직 수정
  clients/client-api/build.gradle.kts
  clients/client-api/src/main/kotlin/io/say/better/client/config/OpenFeignConfig.kt
  clients/client-api/src/main/kotlin/io/say/better/client/oauth/google/api/GoogleOauth2Api.kt
  clients/client-api/src/main/kotlin/io/say/better/client/oauth/google/client/GoogleOauthClient.kt
  clients/client-api/src/main/kotlin/io/say/better/client/oauth/google/config/GoogleOauth2FeignConfiguration.kt
  clients/client-api/src/main/kotlin/io/say/better/client/oauth/google/dto/GoogleOauth2Request.kt
  clients/client-api/src/main/kotlin/io/say/better/client/oauth/google/dto/GoogleOauth2Response.kt
  clients/client-api/src/main/kotlin/io/say/better/client/oauth/strategy/OauthSocialLogin.kt
  clients/client-api/src/main/kotlin/io/say/better/client/oauth/strategy/converter/OauthResultConverter.kt
  clients/client-api/src/main/kotlin/io/say/better/client/symbol/api/RecommendApi.kt
  clients/client-api/src/main/kotlin/io/say/better/client/symbol/client/RecommendClient.kt
  clients/client-api/src/main/kotlin/io/say/better/client/symbol/config/OpenFeignConfig.kt
  clients/client-api/src/main/kotlin/io/say/better/client/symbol/config/SymbolFeignConfiguration.kt
  clients/client-api/src/main/kotlin/io/say/better/client/symbol/converter/RecommendResultConverter.kt
  clients/client-api/src/main/kotlin/io/say/better/client/symbol/dto/RecommendRequest.kt
  clients/client-api/src/main/kotlin/io/say/better/client/symbol/dto/RecommendResponse.kt
  clients/client-api/src/main/kotlin/io/say/better/client/symbol/dto/RecommendResult.kt
  core/core-api/src/main/kotlin/io/say/better/SayBetterApplication.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/application/AuthFacade.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/application/MemberFacade.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/application/converter/AuthResponseConverter.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/application/converter/EducatorConverter.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/application/converter/LearnerConverter.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/application/converter/MemberConverter.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/application/impl/AuthService.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/application/impl/MemberService.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/ui/AuthController.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/ui/MemberController.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/ui/dto/AuthRequest.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/ui/dto/AuthResponse.kt
  core/core-api/src/main/kotlin/io/say/better/domain/solution/application/SolutionFacade.kt
  core/core-api/src/main/kotlin/io/say/better/global/auth/CustomOAuth2User.kt
  core/core-api/src/main/kotlin/io/say/better/global/auth/OAuthAttributes.kt
  core/core-api/src/main/kotlin/io/say/better/global/auth/service/CustomOAuth2UserService.kt
  core/core-api/src/main/kotlin/io/say/better/global/common/code/status/ErrorStatus.kt
  core/core-api/src/main/kotlin/io/say/better/global/common/constant/AppType.kt
  core/core-api/src/main/kotlin/io/say/better/global/config/security/SecurityConfig.kt
  core/core-api/src/main/kotlin/io/say/better/global/jwt/filter/JwtAuthenticationProcessingFilter.kt
  core/core-api/src/main/kotlin/io/say/better/global/jwt/service/JwtService.kt
  core/core-enum/build.gradle.kts
  core/core-enum/src/main/kotlin/io/say/better/core/enums/Provider.kt
  core/core-enum/src/main/kotlin/io/say/better/core/enums/RoleType.kt
  core/core-enum/src/main/kotlin/io/say/better/core/enums/auth/info/GoogleOAuth2UserInfo.kt
  core/core-enum/src/main/kotlin/io/say/better/core/enums/auth/info/OAuth2UserInfo.kt
  core/core-enum/src/main/kotlin/io/say/better/core/enums/auth/jwt/JwtToken.kt
  package-lock.json
  settings.gradle.kts
  storage/storage-mysql-kt/src/main/kotlin/io/say/better/storage/mysql/dao/repository/EducatorReadRepository.kt
  storage/storage-mysql-kt/src/main/kotlin/io/say/better/storage/mysql/dao/repository/LearnerReadRepository.kt
  storage/storage-mysql-kt/src/main/kotlin/io/say/better/storage/mysql/dao/repository/MemberReadRepository.kt
  storage/storage-mysql-kt/src/main/kotlin/io/say/better/storage/mysql/dao/repository/MemberWriteRepository.kt
  storage/storage-mysql-kt/src/main/kotlin/io/say/better/storage/mysql/domain/entity/Educator.kt
  storage/storage-mysql-kt/src/main/kotlin/io/say/better/storage/mysql/domain/entity/Learner.kt
  storage/storage-mysql-kt/src/main/kotlin/io/say/better/storage/mysql/domain/entity/Member.kt
  storage/storage-redis-kt/src/main/kotlin/io/say/better/storage/redis/RedisUtil.kt
  yarn.lock
Labels: :recycle: refactor, :sparkles: feature

#92 [Feature/91] Symbol 추천 API
  clients/client-api/src/main/kotlin/io/say/better/client/symbol/converter/RecommendResultConverter.kt
  storage/storage-mysql-kt/src/main/kotlin/io/say/better/storage/mysql/domain/entity/Symbol.kt
  tests/api-docs/src/test/kotlin/io/say/better/test/api/solution/SolutionInfoControllerTest.kt
  tests/api-docs/src/test/kotlin/io/say/better/test/api/symbol/SymbolRepositoryTest.kt
Labels: :test_tube: test, :sparkles: feature

#93 [Feature/90] REST-Docs test 환경 재구축 및 테스트 코드 수정
  build.gradle.kts
  core/core-api/build.gradle.kts
  core/core-api/src/docs/asciidoc/index.adoc
  core/core-api/src/main/kotlin/io/say/better/global/common/response/ResponseDto.kt
  core/core-api/src/test/kotlin/io/say/better/ContextTest.kt
  core/core-api/src/test/kotlin/io/say/better/DevelopTest.kt
  core/core-api/src/test/kotlin/io/say/better/application/CoreApiApplicationTest.kt
  core/core-api/src/test/kotlin/io/say/better/domain/member/ui/AuthControllerTest.kt
  core/core-api/src/test/kotlin/io/say/better/domain/member/ui/MemberControllerTest.kt
  core/core-api/src/test/kotlin/io/say/better/domain/review/ui/ReviewControllerTest.kt
  core/core-api/src/test/kotlin/io/say/better/domain/solution/ui/SolutionControllerTest.kt
  storage/storage-mysql-kt/src/test/kotlin/io/say/better/storage/mysql/MysqlContextTest.kt
  storage/storage-mysql-kt/src/test/kotlin/io/say/better/storage/mysql/MysqlTestApplication.kt
  storage/storage-mysql-kt/src/test/kotlin/io/say/better/storage/mysql/solution/SolutionRepositoryTest.kt
  storage/storage-mysql-kt/src/test/kotlin/io/say/better/storage/mysql/symbol/SymbolRepositoryTest.kt
  storage/storage-mysql-kt/src/test/resources/application.yml
  tests/api-docs/build.gradle.kts
  tests/api-docs/src/main/kotlin/io/say/better/test/api/RestDocsTest.kt
  tests/api-docs/src/main/kotlin/io/say/better/test/api/RestDocsUtils.kt
  tests/api-docs/src/test/kotlin/io/say/better/test/api/member/AuthControllerTest.kt
  tests/api-docs/src/test/kotlin/io/say/better/test/api/member/MemberControllerTest.kt
  tests/api-docs/src/test/kotlin/io/say/better/test/api/review/ReviewControllerTest.kt
  tests/api-docs/src/test/kotlin/io/say/better/test/api/solution/SolutionInfoControllerTest.kt
  tests/api-docs/src/test/kotlin/io/say/better/test/api/solution/SolutionRepositoryTest.kt
Labels: :memo: documentation, :recycle: refactor, :test_tube: test, :sparkles: feature

#96 [Feature/89] 교육자, 학습자 생성 로직 구현
  core/core-api/src/main/kotlin/io/say/better/domain/member/application/AuthFacade.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/application/MemberFacade.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/application/converter/AuthResponseConverter.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/application/impl/EducatorService.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/application/impl/LearnerService.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/application/impl/MemberService.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/ui/AuthController.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/ui/dto/AuthResponse.kt
  core/core-api/src/main/kotlin/io/say/better/domain/solution/application/SolutionFacade.kt
  core/core-api/src/test/kotlin/io/say/better/domain/member/ui/AuthControllerTest.kt
  storage/storage-mysql-kt/src/main/kotlin/io/say/better/storage/mysql/domain/entity/Educator.kt
  storage/storage-mysql-kt/src/main/kotlin/io/say/better/storage/mysql/domain/entity/Learner.kt
  storage/storage-mysql-kt/src/main/kotlin/io/say/better/storage/mysql/domain/entity/Member.kt
Labels: :test_tube: test, :sparkles: feature

#100 [Feature/99] SecurityConfig 수정
  core/core-api/src/main/kotlin/io/say/better/global/auth/handler/OAuth2LoginFailureHandler.kt
  core/core-api/src/main/kotlin/io/say/better/global/auth/handler/OAuth2LoginSuccessHandler.kt
  core/core-api/src/main/kotlin/io/say/better/global/auth/service/CustomOAuth2UserService.kt
  core/core-api/src/main/kotlin/io/say/better/global/config/security/SecurityConfig.kt
Labels: :recycle: refactor

#108 [Feature/101] 필요없어진 코드 제거
  .ebextensions-dev/00-makeFriles.config
  .ebextensions-dev/01-set-tiemzone.config
  Procfile
  core/core-api/src/main/kotlin/io/say/better/global/auth/CustomOAuth2User.kt
  core/core-api/src/main/kotlin/io/say/better/global/auth/OAuthAttributes.kt
  core/core-api/src/main/kotlin/io/say/better/global/auth/exception/AuthException.kt
  core/core-api/src/main/kotlin/io/say/better/global/auth/handler/OAuth2LoginFailureHandler.kt
  core/core-api/src/main/kotlin/io/say/better/global/auth/handler/OAuth2LoginSuccessHandler.kt
  core/core-api/src/main/kotlin/io/say/better/global/auth/service/CustomOAuth2UserService.kt
Labels: :recycle: refactor

#107 [Feature/106] 프로필 정보 반환 Controller 생성
  core/core-api/src/main/kotlin/io/say/better/domain/member/application/MemberFacade.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/ui/MemberController.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/ui/dto/MemberResponse.kt
  core/core-api/src/test/kotlin/io/say/better/domain/member/ui/MemberControllerTest.kt
  storage/storage-mysql-kt/src/main/kotlin/io/say/better/storage/mysql/domain/constant/Gender.kt
  storage/storage-mysql-kt/src/main/kotlin/io/say/better/storage/mysql/domain/entity/Educator.kt
  storage/storage-mysql-kt/src/main/kotlin/io/say/better/storage/mysql/domain/entity/Learner.kt
Labels: :test_tube: test, :art: style, :sparkles: feature

#111 :bug: Bug - ReactionType 클래스 속성 값 오탈자 수정
  storage/storage-mysql-kt/src/main/kotlin/io/say/better/storage/mysql/domain/constant/ReactionType.kt
Labels: :art: style

#113 :sparkles: Feat: core-infra 모듈 추가 및 S3 업로드 기능 추가 + 유저 초기정보 입력 API (교육자, 학습자) 개발과 스웨거 문서 작성
  core/core-api/build.gradle.kts
  core/core-api/src/main/kotlin/io/say/better/domain/member/application/MemberFacade.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/application/impl/EducatorService.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/application/impl/LearnerService.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/ui/MemberController.kt
  core/core-api/src/main/resources/application.yml
  core/core-api/src/test/kotlin/io/say/better/domain/member/ui/MemberControllerTest.kt
  core/core-infra/build.gradle.kts
  core/core-infra/src/main/kotlin/io/say/better/core/infra/config/S3Config.kt
  core/core-infra/src/main/kotlin/io/say/better/core/infra/enums/AwsS3Folder.kt
  core/core-infra/src/main/kotlin/io/say/better/core/infra/service/AwsS3Service.kt
  core/core-infra/src/main/resources/infra.yml
  settings.gradle.kts
  storage/storage-mysql-kt/src/main/kotlin/io/say/better/storage/mysql/domain/entity/Educator.kt
  storage/storage-mysql-kt/src/main/kotlin/io/say/better/storage/mysql/domain/entity/Learner.kt
  storage/storage-mysql-kt/src/main/kotlin/io/say/better/storage/mysql/domain/entity/Member.kt
Labels: :test_tube: test, :sparkles: feature
