Repository Say-Better/Service-Server, pull requests merged in 2024-05, with the labels that each got.

#50 [Feature/48] RabbitMQ 모듈 추가 및 DB 엔티티 일부 수정
  core/core-api/build.gradle
  core/core-api/src/main/kotlin/io/say/better/domain/solution/application/converter/SolutionConverter.kt
  core/core-api/src/main/kotlin/io/say/better/domain/solution/application/impl/AssignService.kt
  core/core-api/src/main/resources/application.yml
  settings.gradle
  storage/storage-mysql/src/main/java/io/say/better/storage/mysql/dao/repository/AssignReadRepository.java
  storage/storage-mysql/src/main/java/io/say/better/storage/mysql/dao/repository/AssignWriteRepository.java
  storage/storage-mysql/src/main/java/io/say/better/storage/mysql/dao/repository/ProgressReadRepository.java
  storage/storage-mysql/src/main/java/io/say/better/storage/mysql/dao/repository/ProgressWriteRepository.java
  storage/storage-mysql/src/main/java/io/say/better/storage/mysql/dao/repository/ReservationReadRepository.java
  storage/storage-mysql/src/main/java/io/say/better/storage/mysql/dao/repository/ReservationWriteRepository.java
  storage/storage-mysql/src/main/java/io/say/better/storage/mysql/dao/repository/TimestampReadRepository.java
  storage/storage-mysql/src/main/java/io/say/better/storage/mysql/dao/repository/TimestampWriteRepository.java
  storage/storage-mysql/src/main/java/io/say/better/storage/mysql/domain/constant/ProgressState.java
  storage/storage-mysql/src/main/java/io/say/better/storage/mysql/domain/constant/TimestampExitCode.java
  storage/storage-mysql/src/main/java/io/say/better/storage/mysql/domain/entity/Progress.java
  storage/storage-mysql/src/main/java/io/say/better/storage/mysql/domain/entity/RecordSymbol.java
  storage/storage-mysql/src/main/java/io/say/better/storage/mysql/domain/entity/Reservation.java
  storage/storage-mysql/src/main/java/io/say/better/storage/mysql/domain/entity/Review.java
  storage/storage-mysql/src/main/java/io/say/better/storage/mysql/domain/entity/Solution.java
  storage/storage-mysql/src/main/java/io/say/better/storage/mysql/domain/entity/Timestamp.java
  storage/storage-rabbitmq/build.gradle
  storage/storage-rabbitmq/src/main/java/io/say/better/storage/rabbitmq/config/MessageQueueConfig.java
  storage/storage-rabbitmq/src/main/java/io/say/better/storage/rabbitmq/dao/publisher/SolutionProgressPublisher.java
  storage/storage-rabbitmq/src/main/java/io/say/better/storage/rabbitmq/dao/publisher/SolutionProgressPublisherImpl.java
  storage/storage-rabbitmq/src/main/java/io/say/better/storage/rabbitmq/dao/subscriber/SolutionProgressSubscriber.java
  storage/storage-rabbitmq/src/main/java/io/say/better/storage/rabbitmq/util/MessageQueueUtil.java
  storage/storage-rabbitmq/src/main/resources/rabbitmq.yml
Labels: :sparkles: feature

#64 [Feature/54] 솔루션 생성 API
  core/core-api/src/main/kotlin/io/say/better/domain/solution/application/SolutionFacade.kt
  core/core-api/src/main/kotlin/io/say/better/domain/solution/ui/SolutionController.kt
  core/core-api/src/main/kotlin/io/say/better/domain/solution/ui/dto/SolutionRequest.kt
  tests/api-docs/build.gradle
  tests/api-docs/src/test/kotlin/io/say/better/test/api/solution/SolutionInfoControllerTest.kt
  tests/api-docs/src/test/kotlin/io/say/better/test/api/solution/SolutionRepositoryTest.kt
Labels: :wrench: chore, :test_tube: test, :sparkles: feature

#57 [Feature/47] EB 배포 사전 작업 및 docker-compose 환경 구축
  .ebextensions-dev/00-makeFriles.config
  .ebextensions-dev/01-set-tiemzone.config
  .github/workflows/CI.yml
  .github/workflows/CI_CD.yml
  .github/workflows/dev_deploy.yml
  .gitignore
  Dockerfile
  Procfile
  build.gradle
  core/core-api/src/main/kotlin/io/say/better/domain/test/ui/TestController.kt
  core/core-api/src/main/kotlin/io/say/better/global/config/security/SecurityConfig.kt
  docker/docker-compose.yml
  docker/nginx/nginx.conf
  settings.gradle
  tests/api-docs/build.gradle
Labels: :wrench: chore, :construction_worker: ci/cd, :building_construction: build

#55 :sparkles: Feat: 솔루션 진행 구현 완료 및 컨트롤러 테스트 완료
  .gitignore
  core/core-api/src/main/kotlin/io/say/better/domain/review/application/ReviewFacade.kt
  core/core-api/src/main/kotlin/io/say/better/domain/review/application/converter/RecordSymbolConverter.kt
  core/core-api/src/main/kotlin/io/say/better/domain/review/application/impl/RecordService.kt
  core/core-api/src/main/kotlin/io/say/better/domain/review/application/impl/RecordSymbolService.kt
  core/core-api/src/main/kotlin/io/say/better/domain/review/application/impl/ReviewService.kt
  core/core-api/src/main/kotlin/io/say/better/domain/solution/application/SolutionFacade.kt
  core/core-api/src/main/kotlin/io/say/better/domain/solution/application/converter/AssignConverter.kt
  core/core-api/src/main/kotlin/io/say/better/domain/solution/application/converter/ProgressConverter.kt
  core/core-api/src/main/kotlin/io/say/better/domain/solution/application/converter/RecordConverter.kt
  core/core-api/src/main/kotlin/io/say/better/domain/solution/application/converter/ReviewConverter.kt
  core/core-api/src/main/kotlin/io/say/better/domain/solution/application/converter/SolutionResponseConverter.kt
  core/core-api/src/main/kotlin/io/say/better/domain/solution/application/impl/AssignService.kt
  core/core-api/src/main/kotlin/io/say/better/domain/solution/application/impl/ProgressService.kt
  core/core-api/src/main/kotlin/io/say/better/domain/solution/application/impl/SolutionProgressPublisher.kt
  core/core-api/src/main/kotlin/io/say/better/domain/solution/application/impl/SolutionService.kt
  core/core-api/src/main/kotlin/io/say/better/domain/solution/application/impl/SolutionSymbolService.kt
  core/core-api/src/main/kotlin/io/say/better/domain/solution/ui/SolutionController.kt
  core/core-api/src/main/kotlin/io/say/better/domain/solution/ui/dto/SolutionRequest.kt
  core/core-api/src/main/kotlin/io/say/better/domain/solution/ui/dto/SolutionResponse.kt
  core/core-api/src/main/kotlin/io/say/better/domain/symbol/application/impl/SymbolService.kt
  core/core-api/src/main/kotlin/io/say/better/global/common/code/status/ErrorStatus.kt
  core/core-api/src/main/kotlin/io/say/better/global/utils/IdUtil.kt
  storage/storage-mysql/src/main/java/io/say/better/storage/mysql/domain/entity/Progress.java
  storage/storage-mysql/src/main/java/io/say/better/storage/mysql/domain/entity/Record.java
  storage/storage-mysql/src/main/java/io/say/better/storage/mysql/domain/entity/RecordSymbol.java
  storage/storage-mysql/src/main/java/io/say/better/storage/mysql/domain/entity/Review.java
  storage/storage-mysql/src/main/java/io/say/better/storage/mysql/domain/entity/Solution.java
  storage/storage-rabbitmq/src/main/java/io/say/better/storage/rabbitmq/config/MessageQueueConfig.java
  storage/storage-rabbitmq/src/main/java/io/say/better/storage/rabbitmq/dao/publisher/SolutionProgressPublisher.java
  storage/storage-rabbitmq/src/main/java/io/say/better/storage/rabbitmq/dao/publisher/SolutionProgressPublisherImpl.java
  storage/storage-rabbitmq/src/main/java/io/say/better/storage/rabbitmq/dao/subscriber/SolutionProgressSubscriber.java
  tests/api-docs/src/test/kotlin/io/say/better/test/api/solution/SolutionInfoControllerTest.kt
Labels: :sparkles: feature

#65 [Feature/58] root project gradle 설정 변경
  Dockerfile
  build.gradle
  build.gradle.kts
  core/core-api/build.gradle
  gradle.properties
  settings.gradle
  settings.gradle.kts
Labels: :wrench: chore, :building_construction: build

#67 [Feature/61] test 모듈 build.gradle → build.gradle.kts로 변경
  tests/api-docs/build.gradle
  tests/api-docs/build.gradle.kts
Labels: :wrench: chore

#68 [Feature/62] client module 설정 변경
  .gitignore
  clients/client-api/build.gradle
  clients/client-api/build.gradle.kts
  clients/client-api/src/main/kotlin/io/say/better/client/symbol/api/RecommendApi.kt
  clients/client-api/src/main/kotlin/io/say/better/client/symbol/api/RecommendClient.kt
  clients/client-api/src/main/kotlin/io/say/better/client/symbol/converter/RecommendResultConverter.kt
Labels: :wrench: chore, :recycle: refactor, :building_construction: build

#69 [Feature/60] support 모듈 build.gradle → build.gradle.kts로 변경
  support/logging/build.gradle
  support/logging/build.gradle.kts
  support/monitoring/build.gradle
  support/monitoring/build.gradle.kts
Labels: :wrench: chore

#70 [Feature/59] core module gradle 설정 변경
  core/core-api/build.gradle
  core/core-api/build.gradle.kts
  core/core-api/src/main/kotlin/io/say/better/domain/member/application/AuthFacade.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/application/MemberFacade.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/application/impl/ConnectService.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/application/impl/MemberService.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/ui/AuthController.kt
  core/core-api/src/main/kotlin/io/say/better/domain/member/ui/MemberController.kt
  core/core-api/src/main/kotlin/io/say/better/domain/review/application/ReviewFacade.kt
  core/core-api/src/main/kotlin/io/say/better/domain/review/application/impl/RecordService.kt
  core/core-api/src/main/kotlin/io/say/better/domain/review/application/impl/RecordSymbolService.kt
  core/core-api/src/main/kotlin/io/say/better/domain/review/application/impl/ReviewService.kt
  core/core-api/src/main/kotlin/io/say/better/domain/review/ui/ReviewController.kt
  core/core-api/src/main/kotlin/io/say/better/domain/solution/application/SolutionFacade.kt
  core/core-api/src/main/kotlin/io/say/better/domain/solution/application/converter/ProgressConverter.kt
  core/core-api/src/main/kotlin/io/say/better/domain/solution/application/impl/ProgressService.kt
  core/core-api/src/main/kotlin/io/say/better/domain/solution/application/impl/SolutionProgressPublisher.kt
  core/core-api/src/main/kotlin/io/say/better/domain/solution/application/impl/SolutionService.kt
  core/core-api/src/main/kotlin/io/say/better/domain/solution/application/impl/SolutionSymbolService.kt
  core/core-api/src/main/kotlin/io/say/better/domain/solution/ui/SolutionController.kt
  core/core-api/src/main/kotlin/io/say/better/domain/symbol/application/impl/SymbolService.kt
  core/core-api/src/main/kotlin/io/say/better/domain/test/ui/TestController.kt
  core/core-api/src/main/kotlin/io/say/better/global/auth/handler/OAuth2LoginFailureHandler.kt
  core/core-api/src/main/kotlin/io/say/better/global/auth/handler/OAuth2LoginSuccessHandler.kt
  core/core-api/src/main/kotlin/io/say/better/global/auth/service/CustomOAuth2UserService.kt
  core/core-api/src/main/kotlin/io/say/better/global/common/code/status/ErrorStatus.kt
  core/core-api/src/main/kotlin/io/say/better/global/common/code/status/SuccessStatus.kt
  core/core-api/src/main/kotlin/io/say/better/global/common/exception/ExceptionAdvice.kt
  core/core-api/src/main/kotlin/io/say/better/global/common/exception/GeneralException.kt
  core/core-api/src/main/kotlin/io/say/better/global/common/response/JwtTokenResponseDto.kt
  core/core-api/src/main/kotlin/io/say/better/global/common/response/ResponseDto.kt
  core/core-api/src/main/kotlin/io/say/better/global/config/security/SecurityConfig.kt
  core/core-api/src/main/kotlin/io/say/better/global/config/web/CorsConfig.kt
  core/core-api/src/main/kotlin/io/say/better/global/jwt/filter/JwtAuthenticationProcessingFilter.kt
  core/core-api/src/main/kotlin/io/say/better/global/jwt/service/JwtService.kt
  core/core-api/src/main/kotlin/io/say/better/global/utils/CodeUtil.kt
  core/core-api/src/main/kotlin/io/say/better/global/utils/IdUtil.kt
  core/core-api/src/main/kotlin/io/say/better/global/utils/SecurityUtil.kt
  core/core-enum/build.gradle
  core/core-enum/build.gradle.kts
  core/core-enum/src/main/kotlin/io/say/better/core/enums/Provider.kt
  core/core-enum/src/main/kotlin/io/say/better/core/enums/RoleType.kt
  core/core-enum/src/main/kotlin/io/say/better/core/enums/Status.kt
  gradle.properties
Labels: :wrench: chore, :recycle: refactor, :art: style, :building_construction: build

#72 [Feature/71] lint format관리용 git hook 작성
  .githooks/pre-coommit
  rule-config/additional.properties
  rule-config/naver-checkstyle-rules.xml
  rule-config/naver-checkstyle-suppressions.xml
  rule-config/naver-intellij-formatter.xml
Labels: :art: style, :sparkles: feature

#80 [Feature/74] SSM 기반 CI/CD 파이프라인 작성
  .github/workflows/dev_deploy.yml
  Dockerfile
  docker/nginx/nginx.conf
  storage/storage-rabbitmq-kt/src/main/kotlin/io/say/better/storage/rabbitmq/config/MessageQueueConfig.kt
Labels: :sparkles: feature

#85 [feature/74] ci/cd 수정
  .github/workflows/dev_deploy.yml
Labels: :construction_worker: ci/cd
